@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px !important;

}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

hr.solid {
    border-top: 1px solid #5c7ae4;
    opacity: 50%;
  }
  
  .high{
     bottom: 40px
  }
  
  .card-head{
    font-weight: 400;
    font-size: 19px;
    }
  
  p {
    font-weight: 100;
  }
  
  .card {
    background-color: transparent;
  }
  
  section{
    margin-bottom: 3rem;
  }
  
  .custom-shape-divider-top-1631566199 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .custom-shape-divider-top-1631566199 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 227px;
  }
  
  .custom-shape-divider-top-1631566199 .shape-fill {
      fill: #C51B1B;
  }